.root {
    border-width: 2px;
    border-color: #000;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    padding-inline: 2rem;
    transition: all 200ms ease;
}

.root:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-2px);
}

.root:active {
    transform: scale(0.97);
}